.square {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    

}

.increase {
    width: 200px;
    height: 200px;
    background-color: yellow;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

.increase:hover {
    width: 500px;
    background-color: red;
  }

@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow; 
        transform: rotate(360deg); 
    }
    
  }

  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow; 
        transform: rotate(360deg); 
    }
  }

  #change-from-js {
    width: 500px;
    background-color: yellowgreen;
  }

  #canvas {
    background-color: turquoise;
  }